public/Console_Page/XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="patient">
        <sequence>
            <xs:element name ="name" type="string"><xs:element>
            <xs:element name="age" type="integer"><xs:element>
            <xs:element name="weight" type="integer"><xs:element>
            <xs:element name="height" type="integer"><xs:element>
        </sequence>
    <xs:complexType>
</xs:schema>